<!-- NavBar section -->
<div class="navbar-fixed">
  <nav class="grey darken-4">
    <div class="nav-wrapper">
      <%= link_to "MagmaHackers", root_path, class: "brand-logo center" %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "About", about_me_path %></li>
        <li><%= link_to "Band", band_path %></li>
        <li><%= link_to "Sport", sport_path %></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="side-nav" id="mobile-demo">
  <li class="userView valign-wrapper">
    <div class="background">
    </div>
    <a href=""><span class="grey-text text-darken-4 name center"><h2 class="valign">Rails app!</h2></span></a>
    <br>
  </li>
  <li><%= link_to "About", about_me_path %></li>
  <li><div class="divider"></div></li>
  <li><%= link_to "Band", band_path %></li>
  <li><div class="divider"></div></li>
  <li><a href="#contact" class="waves-effect">Contact</a></li>
  <li><%= link_to "Sport", sport_path %></li>
</ul>
